In [ ]:
#pandas -> by Wes Mcckinny

In [1]:
import pandas as pd

In [2]:
help(pd)

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data.
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations.
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data.
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects.
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets.
      - Intuitive merging and joining data sets.
      - Flexible reshaping and pivoting of data sets.
      - Hierarchical labeling of axes (possible to have multiple labels per tick).
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format.
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, date shifting and lagging.

PACKAGE CONTENTS
    _config (package)
    _libs (package)
    _testing
    _typing
    _version
    api (package)
    arrays (package)
    compat (package)
    conftest
    core (package)
    errors (package)
    io (package)
    plotting (package)
    testing
    tests (package)
    tseries (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

FUNCTIONS
    __getattr__(name)

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NA = <NA>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    __git_version__ = 'b687cd4d9e520666a956a60849568a98dd00c672'
    describe_option = <pandas._config.config.CallableDynamicDoc object>
    get_option = <pandas._config.config.CallableDynamicDoc object>
    options = <pandas._config.config.DictWrapper object>
    reset_option = <pandas._config.config.CallableDynamicDoc object>
    set_option = <pandas._config.config.CallableDynamicDoc object>

VERSION
    1.0.5

FILE
    /Users/amandeep/opt/anaconda3/lib/python3.8/site-packages/pandas/__init__.py

In [10]:
a = pd.Series([10,11,12,13,14], index=["a","b",100.11,"d","e"])

In [11]:
a

a         10
b         11
100.11    12
d         13
e         14
dtype: int64

In [12]:
a["b"]

11

In [13]:
a[3]

13

In [14]:
df = pd.DataFrame([1,2,3],[4,5,6])

In [15]:
df

   0
4  1
5  2
6  3

In [16]:
import numpy as np

In [17]:
a = np.random.rand(5,4)

In [18]:
a

array([[0.77892565, 0.57310029, 0.23620307, 0.08517702],
       [0.2200094 , 0.62806894, 0.88843141, 0.48827027],
       [0.55305267, 0.60809611, 0.74264761, 0.61507927],
       [0.60135664, 0.50235371, 0.64469293, 0.64571891],
       [0.51100684, 0.12797174, 0.92951289, 0.00840649]])

In [19]:
df = pd.DataFrame(a,["a","b","c","d","e"],["col1","col2","col3", "col4"])

In [20]:
df

       col1      col2      col3      col4
a  0.778926  0.573100  0.236203  0.085177
b  0.220009  0.628069  0.888431  0.488270
c  0.553053  0.608096  0.742648  0.615079
d  0.601357  0.502354  0.644693  0.645719
e  0.511007  0.127972  0.929513  0.008406

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    5 non-null      float64
 1   col2    5 non-null      float64
 2   col3    5 non-null      float64
 3   col4    5 non-null      float64
dtypes: float64(4)
memory usage: 200.0+ bytes

In [23]:
df.describe()

           col1      col2      col3      col4
count  5.000000  5.000000  5.000000  5.000000
mean   0.532870  0.487918  0.688298  0.368530
std    0.202485  0.206828  0.277256  0.300806
min    0.220009  0.127972  0.236203  0.008406
25%    0.511007  0.502354  0.644693  0.085177
50%    0.553053  0.573100  0.742648  0.488270
75%    0.601357  0.608096  0.888431  0.615079
max    0.778926  0.628069  0.929513  0.645719

In [38]:
df.rename(columns= {"col":"col1"},inplace= True)

In [39]:
df

       col1      col2      col3      col4
p  0.778926  0.573100  0.236203  0.085177
q  0.220009  0.628069  0.888431  0.488270
r  0.553053  0.608096  0.742648  0.615079
s  0.601357  0.502354  0.644693  0.645719
t  0.511007  0.127972  0.929513  0.008406

In [40]:
df.rename(index= {"a":"p", "b":"q", "c":"r", "d":"s", "e":"t"},inplace =True)

In [41]:
df

       col1      col2      col3      col4
p  0.778926  0.573100  0.236203  0.085177
q  0.220009  0.628069  0.888431  0.488270
r  0.553053  0.608096  0.742648  0.615079
s  0.601357  0.502354  0.644693  0.645719
t  0.511007  0.127972  0.929513  0.008406

In [43]:
df["col1"]   # calling the colomn

p    0.778926
q    0.220009
r    0.553053
s    0.601357
t    0.511007
Name: col1, dtype: float64

In [50]:
df[["col1","col4"]] # fetching list of coloumns

       col1      col4
p  0.778926  0.085177
q  0.220009  0.488270
r  0.553053  0.615079
s  0.601357  0.645719
t  0.511007  0.008406

In [53]:
#select row from Data Frame
df.loc["p":"r"]

       col1      col2      col3      col4
p  0.778926  0.573100  0.236203  0.085177
q  0.220009  0.628069  0.888431  0.488270
r  0.553053  0.608096  0.742648  0.615079

In [55]:
df.loc["p":"s",["col2","col4"]]   #fecthing p to s rows and col2 and col4

       col2      col4
p  0.573100  0.085177
q  0.628069  0.488270
r  0.608096  0.615079
s  0.502354  0.645719

In [56]:
df.iloc[0:3,1:3]

       col2      col3
p  0.573100  0.236203
q  0.628069  0.888431
r  0.608096  0.742648

NameError: name 'iloc' is not defined