In [ ]:
#    what is Python
#    Python Variables
#    Data types in Python
# to run the cell--- shift+ enter

In [10]:
a=10# interger data---numbers staring from 0 to n

In [9]:
a #

10

In [12]:
print('The number is: ',a) #displaying the message

The number is:  10

In [13]:
a='t'

In [14]:
type(a)

str

In [7]:
a=20

In [5]:
#keyword--- some set of reserverd words-- that is having their own meaning
#class, mean,min
m12

20

In [ ]:
print(a) # will show you the message

In [21]:
q='qwerty"' # string or y="qwerty"

In [22]:
q

'qwerty"'

In [26]:
w="qwerty'"

In [27]:
w

"qwerty'"

In [19]:
e=12.90 #float --- decimal values

In [20]:
e

12.9

In [ ]:
type(a) #in-built function that show us what type of data we have stored in varable

In [ ]:
print('number = ',a)

In [ ]:
q=20
w=30

In [ ]:
print(q+w)

In [ ]:
s1='abc'
s2='qwe'

In [ ]:
print(s1+s2)

In [ ]:
type(s1)

In [ ]:
type(w)

In [32]:
b,c,a=50,70,78

In [33]:
a

78

In [34]:
b

50

In [35]:
c

70

In [36]:
r='qwert'

In [37]:
r

'qwert'

In [51]:
q=input('Enter a value: ')

Enter a value: 234

In [52]:
q

'234'

In [42]:
type(q)

str

In [ ]:
print(q)

In [ ]:
q

In [56]:
type(q)

str

In [64]:
#interger format
i=int(input('Enter a number: '))

Enter a number: 67

In [65]:
i

67

In [68]:
type(i)

int

In [66]:
f=float(input('Enter a value: '))

Enter a value: 59

In [67]:
f

59.0

In [63]:
type(f)

float

In [69]:
a1='abcdefqwerty'

In [70]:
a1

'abcdefqwerty'

In [ ]:
0 1 2 3 4 5 6 7 8 9 10 11
a b c d e f q w e r t  y
         -4  -3  -2  -1

In [76]:
a1[3]

'd'

In [73]:
a1[6:]

'qwerty'

In [78]:
a1[2:6]

'cdef'

In [79]:
a1[-2]

't'

In [80]:
a1[10]

't'

In [84]:
a1[6:-2]

'qwer'

In [85]:
a1[0:-6]

'abcdef'

In [86]:
a1[-1]

'y'

In [ ]:
# 1st type---the data that can be changed---(mutable data)
# 2nd type--- The data that cannot be changed---(immutable data)


#mutable data---  lists, dictionary
#immutable data---Tuples

In [ ]:
A='qwerty'

In [ ]:
A='nj'

In [ ]:
a=12

In [ ]:
a

In [ ]:
a=20

In [ ]:
a

In [ ]:
#Boolean data
True and False

In [87]:
a=123,'abc','qwerty',12.45,True #tuple

In [88]:
a

(123, 'abc', 'qwerty', 12.45, True)

In [89]:
type(a)

tuple

In [90]:
t1=(123,'abc','qwerty',12.45,True)
type(t1)

tuple

In [ ]:
a1=('qwerty',1,67,90.89)

In [ ]:
a1

In [ ]:
#indexing or slicling

In [ ]:
0    1     2        3     4
123,'abc','qwerty',12.45,True
-5   -4      -3     -2     -1

In [94]:
a

(123, 'abc', 'qwerty', 12.45, True)

In [95]:
a[2]

'qwerty'

In [96]:
a[-3]

'qwerty'

In [97]:
a[-2]

12.45

In [ ]:
a[3]

In [ ]:
t1=('apple','banana','grapes')

In [ ]:
a

In [98]:
a[1:]

('abc', 'qwerty', 12.45, True)

In [99]:
print(a[1],a[3])

abc 12.45

In [100]:
len(a)

5

In [ ]:
a=(1,2,3,4,5)
b=(3,7,9,4,6)

In [ ]:
a[1:]

In [ ]:
0    1     2        3     4
123,'abc','qwerty',12.45,True

In [ ]:
a[1:3]

In [ ]:
a[-1]

In [ ]:
a[:-1]

In [ ]:
a[1:4]

In [101]:
a

(123, 'abc', 'qwerty', 12.45, True)

In [102]:
a[2]=12

TypeError: 'tuple' object does not support item assignment

In [103]:
a.append(34)

AttributeError: 'tuple' object has no attribute 'append'

In [91]:
#defining the lists

l1=[123, 'abc', 'qwerty', 12.45, True]

In [92]:
l1

[123, 'abc', 'qwerty', 12.45, True]

In [93]:
type(l1)

list

In [104]:
l1[2]

'qwerty'

In [105]:
l1[1:]

['abc', 'qwerty', 12.45, True]

In [106]:
l1[-2]

12.45

In [107]:
l1

[123, 'abc', 'qwerty', 12.45, True]

In [108]:
l1[2]=34

In [109]:
l1

[123, 'abc', 34, 12.45, True]

In [110]:
l1.append(36)

In [111]:
l1

[123, 'abc', 34, 12.45, True, 36]

In [ ]:
t1=(10,20,30,40)

In [ ]:
t1

In [ ]:
t1---tuple
converting this tuple into a list----list(t1)
after doing all the operations on the data--
convert back it to the tuple format: tuple(l)

In [ ]:
l=list(t1)

In [ ]:
l

In [ ]:
tuple(l)

In [ ]:
#  two types if info---
#1st--key
#2nd value
#list---[]
#tuples--- ()
#dictionary---{ }

In [ ]:
d2={1:12,'e1':45,'e2':'abc',4:True,5:(23,56,78,'wert',True), 'el2':['abc',3,87,90.76]}

In [ ]:
#12,45,67,'abc','qweryt',True
'''co1
com2
com3'''

In [ ]:
d2

In [ ]:
d2['el2'][3]

In [ ]:
d2['e2']

In [ ]:
d2[1]

In [ ]:
d2['e2']=78

In [ ]:
d2

In [ ]:
d2[5][3]

In [ ]:
d1={'1':15,'ele1':34,'2':'str1'}

In [ ]:
d1

In [ ]:
d1['1']

In [ ]:
d1['ele3']

In [ ]:
d1[12]='abc'

In [ ]:
d1

In [ ]:
l1=[1,2,3,4,[3,4,5,'abc']]

In [ ]:
l1

In [ ]:
d={'ele1':(1,2,3),'ele2':[4,5,6],'ele3': 23}

In [ ]:
d

In [ ]:
d['ele1']

In [ ]:
d['ele2']

In [ ]:
d['ele2'][1]=67

In [ ]:
d

In [ ]:
#Conditional Statements
#Looping statements
#Functions in Python

In [ ]:
v='qwerty'

In [ ]:
v

In [ ]:
012345
qwerty

In [ ]:
v[1]

In [ ]:
v[1:5]

In [ ]:
v[3]='y'

In [ ]:
v='abc'

In [ ]:
v

In [ ]:
a=10
b=20

In [ ]:
#conditonal statements-- 2 types
# 1st --if else statement
# 2nd--- nested if statements-- if inside the if condition

In [ ]:
if(cond1):
    tasks
else: 
    tasks

In [ ]:
a=20
b=40
if(a>b):
    print('A is the greatest one')
else:
    print('B is the greatest one')

In [ ]:
a=40
b=50

In [ ]:
if(a>b):
    print('A is the greatest one')
if(a==b):
    print('A is equal to B')
else:
    print('B is the greatest one'):

In [ ]:
if cond1--- false
elif cond2---false
elif cond3    
else

In [ ]:
a=100
b=20
c=30
if(a>b and a>c):
    print('A is the greatest')
elif(b>a and b>c):
    print('B is the greatest')
else:
    print('C is the greatest')

In [ ]:
if(a>b and a>c):
    print('A is the greatest')
if(b>a and b>c):
    print('B is the greatest')
else:
    print('C is the greatest')

In [ ]:
a=10
b=10

In [ ]:
if(a>b):
    print('A is the greatest one')
elif(b>a):
    print('B is the greatest one')
else:
    print('A is equal to B')

In [ ]:
a=20
b=20
c=15

In [ ]:
if(a>=b and a>=c):
    print('A is the greatest one')
elif(b>=a and b>=c):
    print('B is the greatest one')
else:
    print('C is the greatest one')

In [ ]:
if(a>=b and a>=c):
    print('A is the greatest one')
if(b>=a and b>=c):
    print('B is the greatest one')
else:
    print('C is the greatest one')

In [ ]:
if(A>B and B>C):
    print('A is greater')
elif(B>A and B>C):
    print('B is Greater')
else:
    print('c is greater')

In [ ]:
#nested-if
a=1
b=5
c=20
d=30
if(a>b):
    if(c>d):
        print('C is greater than D')
    else:
        print('D is greater than C')
else:
    print('B is greater than A')

In [ ]:
#Looping statement---2 -- for loop and while loop

In [ ]:
print('Python')
print('Python')
print('Python')
print('Python')
print('Python')
print('Python')
print('Python')
print('Python')

In [ ]:
range(8)
#0 1 2 3 4 5 6 7

In [ ]:
for a in range(1,9):
    print('statement',a)
#for the 1st run-- value of a will be 0
#now for the 2nd run--- value of a will get incremented by 1--- value will be 0+1=1
# for the 3rd loop(run)--- value of a==1+1=2

In [ ]:
for i in range(1,11):
    #if(i==6):
        #break
    print(i)
    
    #break

In [ ]:
range(1,11)

In [ ]:
range(11)

In [ ]:
l1=[1,2,3,4,5,6]
l2=[6,5,4,3,2,1]

In [ ]:
len(l1)

In [ ]:
    0 1 2 3 4 5  
    
l1=[1,2,3,4,5,6]
l2=[6,5,4,3,2,1]
for the first run--- value of i=0
                    value of i=1

In [ ]:
if(cond){
    
}

In [ ]:
for i in range(6):
    if(l1[i]>l2[i]):
        print("l1 element ",l1[i]," is greater than ",l2[i])
    else:
        print("l2 element ",l2[i]," is greater than ",l1[i])

In [ ]:
for a in range(9):
    print(a)

In [ ]:
a

In [ ]:
a=1
while(a<=10):
    print('Python',a)
    a=a+1

In [ ]:
a=1
while(a<=10):
    print('Python',a)
    a=a+2

In [ ]:
a=2
while(a<=10):
    print('Python',a)
    a=a+2

In [ ]:
i=10
while(i>0):
    print(i)
    i=i-1
print('end of while loop')

In [ ]:
l1=[12,34,53,76,98,11,71]

In [ ]:
l1=[12,34,53,76,98,71]
for i in range(len(l1)):
    if l1[i]%2==0:
        print('element is even %s'%l1[i])

In [ ]:
out=[]
for num in l1:  
    if num % 2 == 0:  
        out.append(num)    
print(out)

In [ ]:
while i == 6:
    if (l1[i] % 2 == 0):
        print(l1[i])

In [ ]:
l1=[20,12,34,13]
i=1
for i in range(len(l1)):
    if(l1[i] % 2 == 0):
        print("Number is even",l1[i])
    else:
        print("Number is odd",l1[i])

In [ ]:
l1=[12,34,53,76,98,11,71]

In [ ]:
l1

In [ ]:
len(l1)

In [ ]:
12%2

In [ ]:
l1
0    1   2   3   4  5   6
12, 34, 53, 76, 98, 11, 71

In [ ]:
i=0
while(i<7):
    if(l1[i]%2==0):
        print(l1[i])
    i=i+1

In [ ]:
for i in range(len(l1)):
    if(l1[i]%2==0):
        print(l1[i])

In [ ]:
#keyword- some reserved word--that is having it's own meaning
#class, def, str, for

In [ ]:
#function----2 types
#1st--- user defined funs---- should always be defined by user only.
#2nd--- in-built funcs--- are pre-defined funs-- mean(), min(), sum()

In [ ]:
num=1
a=num+10

In [ ]:
def fun1(num):
    a=num+10
    return a

In [ ]:
fun1(23)

In [ ]:
def fun2(num1,num2):
    if(num1>num2):
        print('num1 is the greatest')
    else:
        print('num2 is the greatest')

In [ ]:
fun2(13,78)

In [ ]:
sum(), mean(), median(), append(), min(), max()

In [ ]:
l1=[1,2,3,4,5]

In [ ]:
sum(l1)

In [ ]:
l1.append(23)

In [ ]:
l1

In [ ]:
l1.remove(23)

In [ ]:
l1

In [ ]:
#if you want to remove the ele with their index value
del l1[3]

In [ ]:
l1

In [ ]:
l=[45,67,23,23,34]
#l.remove(23)

In [ ]:
l

In [ ]:
range(len(l))

In [ ]:
for i in range(len(l)):
    if(l[i]==23):
        l.remove(l[i])
print(l)